.first-screen-dots li.slick-active .first-screen-dot {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  background-color: black !important;
}
